{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="announcement-container">
    <h1>{{ page.announcement_title }}</h1>
    
    <div class="announcement-meta">
        Posted on: {{ page.date_posted|date:"F j, Y" }}
    </div>
    
    <div class="announcement-content">
        {{ page.announcement_content|richtext }}
    </div>
    
    <div class="department-info">
        Department: <a href="{{ page.get_parent.url }}">{{ page.get_parent.name }}</a>
    </div>
</div>
{% endblock %}